pandas>=2.2
numpy>=1.26
scikit-learn>=1.5
matplotlib>=3.8
requests>=2.32

jupyter
ipykernel


Do this for environment in terminal:
python3 -m venv .venv
source .venv/bin/activate
pip install -r requirements.txt
jupyter notebook
